body {
    font-family: Arial, Helvetica, sans-serif;
}
input[type=text],[type=number], [type=date] {
    padding: 12px 20px;
    margin: 20px 0 5px 10px;
}

input [type=date] {
    width: 500px;
}

input[type=radio]{
    margin-top: 20px;
}

#female {
    margin-left: 10px;
}

button {
    background-color: #882828;
    color: black;
    opacity: 0.9;
    font-size: 18px;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button:hover {
    opacity: 0.8;
}
